<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Wings of Fire | Kitchen</title>

        <link rel="stylesheet" href="static/style.css">
        <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
    </head>

    <h3> Kitchen </h3>

    <body>
        <table class="orders">
            {% for order in orders %}
            <tr class="order-header">
                <td>Customer ID: {{order[0]}}</td>
                <td>{{order[1]}}</td>
            <tr class="order-footer">
                <td>{{order[2]}}</td>
                <td>{{order[3]}}</td>
            </tr>

            {% endfor %}
        </table>

    </body>
</html>